@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --dark-mode-bg: #232c35;
    --dark-mode-font: #ffffff;
    --clear-mode-bg: #ffffff;
    --clear-mode-font: #000000;
    --fonte-primaria: 'Ubuntu', sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--fonte-primaria);
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 2000px;
    margin: auto;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-grid {
    margin: 0px auto;
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 15px;
    padding: 15px;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    color: #09d;
}

/* INICIO HEADER */
header {
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: var(--clear-mode-bg);
    z-index: 10;
}

header div.header-container {
    max-width: 1500px;
    margin: 0px auto;
}

header ul.navigation-menu {
    align-items: center;
    list-style: none;
    font-weight: bold;
}

/* FIM HEADER */


/* INICIO SLIDE */
.section-slide {
    background-color: #57A2BA55;
    padding: 60px 0px 50px 0px;
}

.mySlides {
    display: none;
}

.numbertext {
    background-color: rgba(0, 0, 0, 0.3);
}

.mySlides img {
    vertical-align: middle;
    width: 100%;
}

.slideshow-container {
    max-width: 900px;
    position: relative;
    margin: auto;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.4);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 8px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    --webkit-animation-name: fade;
    --webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
/* FIM SLIDE */


/* INICIO DESTINOS */
.section-destinos {
    background: linear-gradient(#fff, #57a1ba94);
    padding-top: 60px;
    padding-bottom: 20px;
}

.section-destinos .container-grid .grid-card {
    padding: 10px;
    flex-direction: column;
    border-radius: 10px;
}

.section-destinos .container-grid .grid-card p {
    width: 100%;
    margin-top: 10px;
    font-size: .8em;
    text-align: center;
    font-weight: 500;
}

.section-destinos .container-grid img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: all 360ms ease-in-out;
}

.section-destinos .container-grid img:hover {
    outline: 5px solid rgba(0, 155, 221, 0.500);
}

.section-destinos .ver-mais-btn {
    width: 300px;
    height: 30px;
    border: 3px solid #09d;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
}

.section-destinos .ver-mais-btn:hover {
    background-color: #57A2BA;
    color: white;
}

.hide {
    display: none;
}

.show {
    display: flex;
}
/* FIM DESTINOS */


/* INICIO HISTORIA */
.section-historia {
    padding: 20px;
    background-image: url("../img/background/bg-img.jpg");
    background-size: cover;
}

.section-historia h2 {
    text-align: center;
    padding: 20px;
}

.section-historia div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-historia p{
    max-width: 1000px;
    text-align: justify;
    line-height: 1.5em;
    font-size: 1.0em; 
    width: 90vw;
    background-color: #00000080;
    color: white;
    padding: 20px;
}

.section-historia p a{
    text-decoration: underline;
}
/* FIM HISTORIA */


/* INICIO CONTATO */
.section-contact {
    background-color: #57A2BA55;;
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-contact h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    line-height: 1.2;
}

.form-section-container {
    max-width: 1100px;
    margin: auto;
}

.contact-text-container span {
    color: #09d;
    font-weight: bold;
}

.contact-text-container p {
    text-align: center;
}

.form {
    width: 80%;
    max-width: 32rem;
    font-size: 1.1rem;
    background-color: #232c35;
    padding: 30px;
    border-radius: 20px;
}

.form label,
.form input,
.form textarea,
.form button {
    display: block;
    width: 100%;
}

.form label {
    color: #fff;
    line-height: 1;
    margin-bottom: 0.5rem;
}

.form input,
.form textarea {
    font: inherit;
    padding: 0.6rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: border-color, box-shadow 0.2s;
}

.form textarea {
    min-height: 10rem;
    resize: none;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
    outline: none;
    border-color: #09d;
    box-shadow: 0 0 0 3px #4dc8ff;
}

.form button {
    display: block;
    padding: 1rem;
    background: #0072c4;
    color: #fff;
    font: inherit;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.form button:hover,
.form button:focus {
    outline: none;
    background-color: #09d;
}
/* FIM CONTATO */


/* FOOTER */
.footer {
    min-height: 50px;
    background-color: #09d;
    color: white;
}

.footer a,
p {
    margin: 5px;
}
/* FIM DO FOOTER */