@media only screen and (min-width: 980px) {

    /* INICIO HEADER */
    header div.burger-menu-container {
        display: none;
    }

    header ul.navigation-menu {
        display: flex;
        justify-content: center;
    }

    header ul.navigation-menu li {
        padding: 20px 60px;
    }

    header ul.navigation-menu li a {
        width: max-content;
        position: relative;
    }

    header ul.navigation-menu li a::after {
        content: " ";
        width: 100%;
        height: 2px;
        background-color: #09d;
        position: absolute;
        bottom: -5px;
        left: 0;
        transition: 0.3s;
        transition-timing-function: ease-in-out;
        transform: scaleX(0);
    }

    header ul.navigation-menu li a:hover::after {
        width: 100%;
        transform: scaleX(1);
    }

    /* FIM HEADER */


    /* INICIO SLIDE */

    /* FIM SLIDE */


    /* INICIO CONTATO */
    .contact-text-container {
        width: 50vw;
        max-width: 1300px;
    }

    .contact-text-container span {
        font-size: 1.6em;
    }

    .contact-text-container p {
        font-size: 1.2em;
    }

    .contact-form-container {
        width: 48vw;
    }

    /* FIM CONTATO */
}