/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 979px) {

    /* INICIO HEADER */
    header div.burger-menu-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 8vh;
    }

    header i.burger-menu-icon {
        margin: 0px 25px;
        cursor: pointer;
    }

    header ul.navigation-menu {
        display: none;
        justify-content: center;
        flex-direction: column;
        height: 80vh;
    }

    header ul.navigation-menu li {
        padding: 35px 25px;
    }

    /* FIM HEADER */


    /* INICIO SLIDE */

    .slideshow-container {
        max-width: 100%;
    }

    .prev,
    .next {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
    }

    /* FIM SLIDE */


    /* INICIO HISTORIA */
    .section-historia {
        
    }
    /* FIM HISTORIA */


    /* INICIO CONTATO */

    /* .section-contact{
        background-color: #232c356b;
    } */

    .section-contact h2 {
        font-size: 1.4rem;
        /* color: #fff; */
        margin-bottom: 1.5rem;
        line-height: 1;
    }



    .form-section-container {
        flex-direction: column;
    }

    .contact-text-container {
        width: 100%;
    }

    .contact-text-container span {
        font-size: 1.3em;
    }

    .contact-text-container p {
        margin-bottom: 30px;
    }

    .contact-form-container {}



    .form {
        width: 95vw;

        font-size: 1rem;

        padding: 20px 10px;
        border-radius: 10px;
    }

    .form label,
    .form input,
    .form textarea {
        display: block;
        width: 100%;
        height: 35px;
    }

    .form label {
        color: #fff;
        line-height: 1;
        margin-bottom: 0;
    }

    .form textarea {
        min-height: 10rem;
        resize: none;
    }

    .form button {
        padding: .6rem;
    }

    /* FIM CONTATO */
}